{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "app/defaults/preferences/*.js",
      "options": {
        "semi": true
      }
    }
  ]
}
