{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "app/defaults/preferences/*.js",
      "options": {
        "semi": true
      }
    }
  ],
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
