.snippetList {
  min-width: 200px;
}

.listItem {
  padding: 16px;
}

.listItemTitle {
  font-weight: bold;
}

.listItem hbox {
  padding-bottom: 8px;
}

.listItem hbox div {
  margin-inline: 0 8px;
}

.searchList {
  display: flex;
}

.searchList input {
  flex-grow: 1;
}

#addButton {
  min-width: 0;
}

#addButton image {
  list-style-image: url(chrome://global/skin/icons/plus.svg);
  -moz-context-properties: fill, fill-opacity;
  fill-opacity: 0.6;
  fill: currentColor;

  width: 16px;
  height: 16px;

  padding-bottom: 2px;
}
