.snippetView {
  overflow-y: auto;
}

.snippetView BR {
  height: 1.4em;
  display: block;
}

.tagContainer {
  margin: 4px;
  padding: 4px;
  background-color: Field !important;
  border-radius: var(--button-border-radius);
}

.icon {
  -moz-context-properties: fill, fill-opacity;
  fill-opacity: 0.6;
  fill: currentColor;

  aspect-ratio: 1/1;
}

.iconButton {
  padding: 8px 12px;
  border-radius: var(--button-inner-border-radius);

  width: 8px;
  height: 8px;
}

.icon:hover {
  background-color: color-mix(
    in srgb,
    currentColor 10%,
    transparent
  ) !important;
}
