#root {
  height: 100vh;
}

body {
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-flex: 1;
}

:root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: clip;
}

/* TODO: Figure out why XUL and other UA stylesheets are applying */

* {
  -moz-user-focus: ignore;
  user-select: none;
  display: -moz-box;
  box-sizing: border-box;
}

base,
basefont,
datalist,
head,
link,
meta,
noembed,
noframes,
param,
rp,
script,
style,
template,
title {
  display: none;
}
